
@{
    ViewBag.Title = "QLKH";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div style="margin-top: 40px">
    <h2 style="text-align: center">QUẢN LÝ KHÁCH HÀNG</h2>
    <div style="margin-left: 550px; width: 600px">
        <a href="#" style="float: left" class="btn btn-primary">Check in</a>
        <a href="#" style="float: left; margin-left: 30px" class="btn btn-primary">Check out</a>
        <a href="@Url.Action("DSKH", "Admin")" style="float: left; margin-left: 30px" class="btn btn-primary">Danh sách KH</a>
    </div>
</div>


