
@{
    ViewBag.Title = "LapHoaDon";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<div style="padding-top: 30px">
    <h2 style="text-align: center; margin-top: 40px">LẬP HÓA ĐƠN</h2>
    <table class="table">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
                <tr>
                    <td style="text-align: right; border-top: none; color: black">Nhập mã đặt phòng: </td>
                    <td style="border-top: none">@Html.TextBox("MaDP", "", new { @class = "form-control" }) @ViewData["Loi1"]</td>
                </tr>
                <tr>
                    <td style="text-align: center; border-top: none;" colspan="2"><input type="submit" value="Lập Hóa Đơn" class="btn btn-primary form-control" style="width: 150px; height: 50px; color: white" /></td>
                </tr>
                <tr>
                    <td style="font-size: 20px; color: red; text-align: center; border-top: none" colspan="2">@ViewBag.TB</td>
                </tr>
            }
        }
    </table>
</div>


