
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<div class="features">
    <div class="container">
        <div class="row">

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="icon_box_icon"><img src="../Assets/images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                    <div class="icon_box_title"><h2>Khu nghĩ dưỡng</h2></div>
                    <div class="icon_box_text">
                        <p>Được thiết kế dành riêng cho khách hàng thư giãn sau những giờ làm việc căng thẳng. Mang lại một trãi nghiệm đáng nhớ cho khách hàng</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="icon_box_icon"><img src="../Assets/images/icon_2.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                    <div class="icon_box_title"><h2>Hồ bơi</h2></div>
                    <div class="icon_box_text">
                        <p>Hồ bơi được thiết kế rất lớn có sức chứa lên đến 120 người trên 1 hồ. Khách hàng sẽ được thoải mái bơi lội dưới làn nước trong veo và mát mẻ, đây chắc hẵn là một loại hình giải trí tuyệt vời.</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box d-flex flex-column align-items-center justify-content-start text-center">
                    <div class="icon_box_icon"><img src="../Assets/images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                    <div class="icon_box_title"><h2>Phòng sang trọng</h2></div>
                    <div class="icon_box_text">
                        <p>Phòng đầy đủ tiện nghi, thiết kế sang trọng độc đáo, tích hợp những món đồ công nghệ thông minh. Khách hàng sẽ cực kì thoải mái khi ở căn phòng của khách sạn chúng tôi.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Gallery -->

<div class="gallery">
    <div class="gallery_slider_container">
        <div class="owl-carousel owl-theme gallery_slider">

            <!-- Slide -->
            <div class="gallery_item">
                <div class="background_image" style="background-image: url(../Assets/images/gallery_1.jpg)"></div>
                <a class="colorbox" href="images/gallery_1.jpg"></a>
            </div>

            <!-- Slide -->
            <div class="gallery_item">
                <div class="background_image" style="background-image: url(../Assets/images/gallery_2.jpg)"></div>
                <a class="colorbox" href="images/gallery_2.jpg"></a>
            </div>

            <!-- Slide -->
            <div class="gallery_item">
                <div class="background_image" style="background-image: url(../Assets/images/gallery_3.jpg)"></div>
                <a class="colorbox" href="images/gallery_3.jpg"></a>
            </div>

            <!-- Slide -->
            <div class="gallery_item">
                <div class="background_image" style="background-image: url(../Assets/images/gallery_4.jpg)"></div>
                <a class="colorbox" href="images/gallery_4.jpg"></a>
            </div>

        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">

            <!-- About Content -->
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="about_title"><h2>Hoàng Gia / 10 năm xuất sắc</h2></div>
                    <div class="about_text">
                        <p>Với những nổ lực hết mình trong thời gian qua. Từ năm 2012 cho đến nay khách sạn Hoàng Gia đã trải qua bao nhiêu sóng gió để có được thành công như ngày hôm nay. Tất cả là nhờ sự nổ lực của những người đứng đầu khách sạn, những nhân viên mẫu mực đã luôn luôn đồng hành với khách sạn. Chúng tôi cam kết sẽ mang đến cho khách hàng những trãi nghiệm tuyệt vời chưa từng có ở các khách sạn khác khi khách hàng tin tưởng và lựa chọn khách sạn Hoàng Gia của chúng tôi làm nơi nghĩ dưỡng và thư giản. </p>
                    </div>
                </div>
            </div>

            <!-- About Images -->
            <div class="col-lg-6">
                <div class="about_images d-flex flex-row align-items-center justify-content-between flex-wrap">
                    <img src="../Assets/images/about_1.png" alt="">
                    <img src="../Assets/images/about_2.png" alt="">
                    <img src="../Assets/images/about_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->

<div class="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/testimonials.jpg" data-speed="0.8"></div>
    <div class="testimonials_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="testimonials_slider_container">
                    <!-- Testimonials Slider -->
                    <div class="owl-carousel owl-theme test_slider">

                        <!-- Slide -->
                        <div class="test_slider_item text-center">
                            <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="testimonial_title"><a href="#">Nguyễn Ngọc Vy</a></div>
                            <div class="testimonial_text">
                                <p>Bà Nguyễn Ngọc Vy giám đốc tài chính của khách sạn (CFO) là người phụ trách chính trong mảng tài chính của khách sạn.</p>
                            </div>
                            <div class="testimonial_image"><img src="../Assets/images/CFO.png" alt=""></div>
                            <div class="testimonial_author"><a href="#">Nguyễn Ngọc Vy</a>, CFO</div>
                        </div>

                        <!-- Slide -->
                        <div class="test_slider_item text-center">
                            <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="testimonial_title"><a href="#">Trần Văn Nhất</a></div>
                            <div class="testimonial_text">
                                <p>Ông là một giám đốc điều hành khách sạn (CEO) là một người có tư duy nhạy bén, phán đoán chính xác góp phần phát triển khách sạn.</p>
                            </div>
                            <div class="testimonial_image"><img src="../Assets/images/CEO.png" alt=""></div>
                            <div class="testimonial_author"><a href="#">Trần Văn Nhất</a>, CEO</div>
                        </div>

                        <!-- Slide -->
                        <div class="test_slider_item text-center">
                            <div class="rating rating_5 d-flex flex-row align-items-start justify-content-center"><i></i><i></i><i></i><i></i><i></i></div>
                            <div class="testimonial_title"><a href="#">Nguyễn Minh Hùng</a></div>
                            <div class="testimonial_text">
                                <p>Ông là một giám đốc marketing của khách sạn (CMO) là một người đứng đầu công việc quản lý thương hiệu, truyền thông của khách sạn.</p>
                            </div>
                            <div class="testimonial_image"><img src="../Assets/images/CMO.png" alt=""></div>
                            <div class="testimonial_author"><a href="#">Nguyễn Minh Hùng</a>, CMO</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Booking -->

<div class="booking">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="booking_title text-center"><h2>Đặt phòng</h2></div>
                <div class="booking_text text-center">
                    <p>Khách sạn hoàng gia cung cấp đa dạng các loại phòng hiện đại, phong cách, sang trọng và đầy đủ tiện nghi cho khách hàng. Ngoài ra khách sạn còn có kèm theo các dịch vụ tiện ích để khách hàng có một trải nghiệm tốt nhất có thể khi ở khách sạn. Dưới đây là một số loại phòng và các dịch vụ cơ bản mà khách sạn có thể cung cấp cho khách hàng mỗi khi khách hàng cần.</p>
                </div>

                <!-- Booking Slider -->
                <div class="booking_slider_container">
                    <div class="owl-carousel owl-theme booking_slider">

                        <!-- Slide -->
                        <div class="booking_item">
                            <div class="background_image" style="background-image: url(../Assets/images/booking_1.jpg)"></div>
                            <div class="booking_overlay trans_200"></div>
                            <div class="booking_price">$120/Đêm</div>
                            <div class="booking_link"><a href="booking.html">Phòng Gia Đình</a></div>
                        </div>

                        <!-- Slide -->
                        <div class="booking_item">
                            <div class="background_image" style="background-image: url(../Assets/images/booking_2.jpg)"></div>
                            <div class="booking_overlay trans_200"></div>
                            <div class="booking_price">$185/Đêm</div>
                            <div class="booki9ng_link"><a href="booking.html">Phòng Sang Trọng</a></div>
                        </div>

                        <!-- Slide -->
                        <div class="booking_item">
                            <div class="background_image" style="background-image: url(../Assets/images/booking_3.jpg)"></div>
                            <div class="booking_overlay trans_200"></div>
                            <div class="booking_price">$100/Đêm</div>
                            <div class="booking_link"><a href="booking.html">Phòng Đơn</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->

<div class="blog">

    <!-- Blog Slider -->
    <div class="blog_slider_container">
        <div class="owl-carousel owl-theme blog_slider">

            <!-- Slide -->
            <div class="blog_slide">
                <div class="background_image" style="background-image: url(../Assets/images/index_blog_1.jpg)"></div>
                <div class="blog_content">
                    <div class="blog_date"><a href="#">$50/Người</a></div>
                    <div class="blog_title"><a href="#">Dịch vụ thư giản</a></div>
                </div>
            </div>

            <!-- Slide -->
            <div class="blog_slide">
                <div class="background_image" style="background-image: url(../Assets/images/index_blog_2.jpg)"></div>
                <div class="blog_content">
                    <div class="blog_date"><a href="#">$70/Người</a></div>
                    <div class="blog_title"><a href="#">Dịch vụ ăn uống</a></div>
                </div>
            </div>

            <!-- Slide -->
            <div class="blog_slide">
                <div class="background_image" style="background-image: url(../Assets/images/index_blog_3.jpg)"></div>
                <div class="blog_content">
                    <div class="blog_date"><a href="#">$5000/Tiệc</a></div>
                    <div class="blog_title"><a href="#">Dịch vụ tiệc cưới</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

